@using TourOperator.Extensions
@model TourOperator.Models.Entities.Booking

@{
    ViewData["Title"] = "Booking Confirmed";
}

<div class="text-center">
    <h1 class="display-4">Booking Confirmed!</h1>
    
    <h2>
        We hope you enjoy your trip!
    </h2>
    
    <div class="checkout">
    
        <table>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Dates</th>
            </tr>
            
            @if (Model.RoomBooking != null)
            {
                <tr>
                    <td>Hotel Room</td>
                    <td>@Model.RoomBooking?.Room?.Name</td>
                    <td>£@((Model.RoomBooking?.Room?.Price * Model.RoomBooking?.DateTo.Subtract(Model.RoomBooking.DateFrom).Days) / 100)</td>
                    <td>@Model.RoomBooking?.DateFrom.ToShortDate() To @Model.RoomBooking?.DateTo.ToShortDate()</td>
                </tr>
            }

            @if (Model.TourBooking != null)
            {
                <tr>
                    <td>Tour</td>
                    <td>@Model.TourBooking?.Tour?.Name</td>
                    <td>£@(Model.TourBooking?.Tour?.Price / 100)</td>
                    <td>@Model.TourBooking?.DateFrom.ToShortDate() (@Model.TourBooking?.Tour?.Length Days)</td>
                </tr>
            }
            
            <tr>
                <td>Deposit Paid</td>
                <td></td>
                <td>£@(Model.TotalCost*0.2 / 100)</td>
                <td></td>
            </tr>
            
            <tr>
                <td>Total</td>
                @if (Model.RoomBooking != null && Model.TourBooking != null)
                {
                    <td>Package Discount (@(Model.RoomBooking?.Room?.PackageDiscount)%)</td>
                }
                else
                {
                    <td></td>
                }
                <td>£@(Model.TotalCost / 100)</td>
                <td></td>
            </tr>

            <tr id="checkout-total">
                <td>Due</td>
                <td></td>
                <td>£@(Model.Due / 100)</td>
                <td></td>
            </tr>
        </table>
        
        @if (Model.Cancelled){
            <h3>You cancelled this order and have been refunded the total cost.</h3>
        }
        else{
            if (Model.IsForfeit()){
                <h3>Unfortunately, as you have not paid in 28 days, your booking has been forfeit.</h3>
            }

            if (!Model.IsForfeit()){
                <a class="btn btn-primary" asp-controller="Booking" asp-action="EditBooking" asp-route-bookingId="@Model.Id">
                    Edit Booking
                </a>

                if (Model.IsConfirmed()){
                    <a class="btn btn-danger" asp-controller="Booking" asp-action="CancelBooking" asp-route-bookingId="@Model.Id">
                        Cancel Booking
                    </a>
                }
            }

            if (!Model.IsConfirmed() && !Model.IsForfeit()){
                <h3> Pay by: @Model.StartDate().AddDays(-28).ToShortDate() </h3>

                <a class="btn btn-primary" asp-controller="Booking" asp-action="ConfirmBooking" asp-route-bookingId="@Model.Id">
                    Pay and Confirm
                </a>
            }
        }
    </div>
</div>