@using TourOperator.Extensions
@model TourOperator.Models.Entities.Booking

@{
    ViewData["Title"] = "Checkout";
}

<div class="text-center">
    <h1 class="display-4">Checkout</h1>
    
    <div class="checkout">
        
        <table>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Dates</th>
            </tr>
            
            <tr>
                <td>Hotel Room</td>
                <td>@Model.RoomBooking?.Room?.Name</td>
                <td>£@((Model.RoomBooking?.Room?.Price*Model.RoomBooking?.DateTo.Subtract(Model.RoomBooking.DateFrom).Days)/100)</td>
                <td>@Model.RoomBooking?.DateFrom.ToShortDate() To @Model.RoomBooking?.DateTo.ToShortDate()</td>
            </tr>
            
            <tr>
                <td>Tour</td>
                <td>@Model.TourBooking?.Tour?.Name</td>
                <td>£@(Model.TourBooking?.Tour?.Price/100)</td>
                <td>@Model.TourBooking?.DateFrom.ToShortDate() (@Model.TourBooking?.Tour?.Length Days)</td>
            </tr>
            
            <tr id="checkout-total">
                <td>Total</td>
                <td></td>
                <td>£@(Model.TotalCost/100)</td>
                <td></td>
            </tr>
        </table>
        
    </div>
</div>