@using TourOperator.Models.Entities
@model TourOperator.Models.Entities.Booking

@{
    ViewData["Title"] = "Checkout";
}

<div class="text-center">
    <h1 class="display-4">Checkout</h1>
    
    <div class="checkout">
        
        <table>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Dates</th>
            </tr>
            
            <tr>
                <td>Hotel Room</td>
                <td>@Model.RoomBooking?.Room?.Name @@ @Model.RoomBooking?.Room?.Hotel.Name</td>
                <td>@Model.RoomBooking?.Room?.Price</td>
                <td>@Model.RoomBooking?.Room?.FromDate To @Model.RoomBooking?.Room?.ToDate</td>
            </tr>
            
            <tr>
                <td>Tour</td>
                <td>@Model.TourBooking?.Tour?.Name</td>
                <td>£@Model.TourBooking?.Tour?.Price/100</td>
            </tr>
            
            <tr>
                <td>Total</td>
                <td></td>
                <td>@Model.Due/100</td>
            </tr>
        </table>
        
    </div>
</div>