@using TourOperator.Extensions
@using TourOperator.Models.Entities
@model TourOperator.Models.Entities.Hotel

@{
    ViewData["Title"] = "Hotels";
    string fromDate = ViewBag.Message["fromDate"];
    string toDate = ViewBag.Message["toDate"];
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    
    @foreach (Room room in Model.Rooms)
    {
        <div class="room-item">
            <p>@room.Name</p>
            <p>£@(room.Price/100)</p>
            <p>@fromDate To @toDate</p>
            
            @if (User.Identity!.IsAuthenticated)
            {
                if (Context.Session.GetObject<Room>("PackageRoom")?.Id == room.Id)
                {
                    <i class="bi bi-bag-check"></i>
                }
                using (Html.BeginForm("AddRoomToPackage", "Auth", FormMethod.Post))
                {
                    <input type="hidden" name="fromDate" value="@fromDate"/>
                    <input type="hidden" name="toDate" value="@toDate"/>
                    <input type="hidden" name="roomId" value="@room.Id"/>
                    <input type="submit" class="btn btn-primary" value="Add To Package"/>
                }
            }
        </div>
    }
</div>