@using TourOperator.Models.Entities

@model IEnumerable<TourOperator.Models.Entities.Hotel>

@{
    ViewData["Title"] = "Hotels";
    string fromDate = ViewBag.Message["fromDate"];
    string toDate = ViewBag.Message["toDate"];
}

<div class="text-center">
    <h1 class="display-4">Hotels</h1>
    
    <div class="hotel-list">
        @foreach(Hotel hotel in Model) {
            <div class="hotel-item">
                <h2>@hotel.Name</h2>
                <h3>@hotel.Description</h3>
                <h3>@hotel.Operator.Name</h3>
                
                <a class="btn btn-secondary nav-link text-dark" asp-area=""
                   asp-controller="View" asp-action="Hotel"
                   asp-route-hotelId="@hotel.Id"
                   asp-route-fromDate="@fromDate"
                   asp-route-toDate="@toDate">More Info</a>
            </div>
        }
    </div>
</div>