@using TourOperator.Extensions
@using TourOperator.Models.Entities
@model TourOperator.Models.Entities.Report?

@{
    ViewData["Title"] = "Report";

    DateTime fromDate;
    DateTime toDate;
    DateTime now = DateTime.Now;

    Dictionary<DateTime, List<Booking>> bookingsByDate = null;
    
    if (Model != null){
        fromDate = Model.FromDate;
        toDate = Model.ToDate;

        bookingsByDate = new Dictionary<DateTime, List<Booking>>();

        for (var day = fromDate; day.Date <= toDate; day = day.AddDays(1)){
            bookingsByDate.Add(day, new List<Booking>());
        }

        foreach(Booking booking in Model.Bookings)
        {
            for (var day = booking.StartDate(); day.Date <= booking.EndDate(); day = day.AddDays(1)){
                bookingsByDate[day].Add(booking);
            }
        }
    }
    else{
        fromDate = now;
        toDate = now;
    }
}

<div class="text-center">
    <h1 class="display-4">Report</h1>
    
    @using (Html.BeginForm("GenerateReport", "View", FormMethod.Post))
    {
        <label for="from">From</label>
        <input type="date" name="FromDate" id="from" class="form-control" value="@fromDate.ToShortDate()" min="@now.ToShortDate()"/>
        
        <label for="to">To</label>
        <input type="date" name="ToDate" id="to" class="form-control" value="@toDate.ToShortDate()" min="@now.ToShortDate()" />
        
        <button type="submit" class="btn btn-primary">Generate</button>
    }
    
    @if (Model != null){
        
        <table>
            <tr>
                <th>Date</th>
                <th>Bookings</th>
            </tr>
            
            @if (bookingsByDate != null){
                foreach(var bookings in bookingsByDate){
                    <tr>
                        <td>
                            @bookings.Key.ToShortDate()
                        </td>

                        <td>
                            <ul>
                                @foreach(var booking in bookings.Value){
                                    <li>
                                        @if (booking.HasRoom()){
                                            <p>@booking.RoomBooking?.Room.Hotel.Name => @booking.RoomBooking?.Room.Name</p>
                                        }

                                        @if (booking.HasTour()){
                                            <p>@booking.TourBooking?.Tour.Name</p>
                                        }
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            }
    </table>
    }
</div>